aiodns==3.2.0
Babel==2.17.0
Beaker==1.13.0
brotli==1.1.0
brotlicffi==1.1.0.0
cdecimal==2.3
click==8.1.8
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==44.0.1
cx_Oracle==8.3.0
Cython==3.0.12
dl==0.1.0
docutils==0.21.2
dogpile.core==0.4.1
gunicorn==23.0.0
h2==4.2.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.5
jnius==1.1.0
js==1.0
keyring==25.6.0
lingua==4.15.0
lockfile==0.12.2
mask==1.0.0
mx==3.2
nacl==0.0.0
objgraph==3.6.2
orjson==3.10.15
pgdb==0.0.11
Pillow==11.1.0
protobuf==5.29.3
psutil==7.0.0
pyodide==0.0.2
pyOpenSSL==25.0.0
pysqlcipher3==1.2.0
pysqlite==2.8.3
pytest==8.3.4
pywin32==308
railroad==0.5.0
simplejson==3.19.3
Sphinx==8.1.3
sqlcipher3==0.5.4
Sybase==0.35
thread==2.0.5
tornado==6.4.2
trove_classifiers==2025.1.15.22
truststore==0.10.1
urllib3_secure_extra==0.1.0
uvloop==0.21.0
xmlrpclib==1.0.1
zstandard==0.23.0
